/*

spruce_green        #009530
sky_blue            #42b4e6
honeysuckle_orange  #e47f00
fuschia_red         #b10043
seedling_green      #87d300
sunflower_yellow    #ffd100
lady_fern_green     #4fa600

*/

body{
  margin-top: 10px;
}

div.container-fluid {
  border: 2px solid #42b4e6;
  border-radius: 10px;
}


/* make keep font black lighter - IJL */
h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

/* shiny control twiddling */
.irs-from, .irs-to, .irs-single {
    background: #42b4e6;
}

.irs-grid-pol {
    background: #42b4e6;
}

.irs-bar {
    border-top: 1px solid #42b4e6;
    border-bottom: 1px solid #42b4e6;
    background: #42b4e6;
}

.irs-bar-edge {
    border: 1px solid #42b4e6;
    background: #42b4e6;
}
