/*

spruce_green        #009530
sky_blue            #42b4e6
honeysuckle_orange  #e47f00
fuschia_red         #b10043
seedling_green      #87d300
sunflower_yellow    #ffd100
lady_fern_green     #4fa600

*/

@import url("https://fonts.googleapis.com/css?family=Varela+Round");



container-fluid {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

div.row-fluid {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

div.partition-title {
  text-align: center;
  margin: 0;
}

/* make font lighter - IJL */
h1, h2, h3, h4, h5, h6, .navbar {
  font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* make font lighter - IJL */
.navbar {
  text-transform: uppercase;
}

/* Trick used to get modal-backdrop to work properly */
.modal-backdrop {
  z-index: -1;
}

th, td {
  padding: 7.5px;
}


/* format embedding video */
.video_embed {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}


/* may not be needed in future */
/* format well-se_special div */
.well-se_special {
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-brand {
  padding-top: 14px;
  padding-bottom: 14px;
}


